# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
venv/
env/

# =========================
# Django
# =========================
db.sqlite3
*.sqlite3

media/
staticfiles/

# Archivos locales
local_settings.py

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# PythonAnywhere
# =========================
*.pyc

# =========================
# Claude / IA / CodeGraph
# =========================
.codegraph/
.claude/

CLAUDE.md
PROJECT_CONTEXT.md

docs/

# =========================
# Node
# =========================
node_modules/

# =========================
# Cache
# =========================
.cache/
.pytest_cache/
.mypy_cache/